# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac system files
.DS_Store

# Log files
*.log

# Conda
env/
*.env

# Temporary files
*.tmp
*.swp

# Raw data files
*.zarr
*.tiff
*.ome.tiff
*.tif
*.npy
*.json

# Database files
*.csv
*.db
*.sqlite
*.h5ad
*.pkl
